[Desktop Entry]
Type=Application
Version=1.0
Name=TEMPLATE
Comment=Launch TEMPLATE
Exec=template
Icon=io.aiaast.template
Terminal=false
Categories=Utility;
StartupNotify=true
