[Desktop Entry]
Version=1.0
Type=Application
Name=LuxeLogic
Comment=World-Class AI Makeup & Beauty
Exec=/home/whyte/.MyAppZ/LuxeLogic/luxelogic-launcher.sh
Path=/home/whyte/.MyAppZ/LuxeLogic
Icon=/home/whyte/.local/share/icons/luxelogic.png
Terminal=true
Categories=Graphics;
StartupNotify=true
X-GNOME-Autostart-enabled=true
